  .f-talk{
   padding-left:34px
 }


.resize {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}


.f-school {
  padding: 0;
    margin: 0;
    font-size: small;
}
.f-adress {
  margin: 0;
  font-size: x-small;
}
.f-country {
  font-size: xx-small;
    color: gray;
}
.b-size {
  background: transparent;
    border: 1px solid #1515d6;
    color: blue;
}
.icon-c {
cursor: pointer;
}
