.resize {
  width: 47px;
  border-radius: 50%;
  height: 47px;
}
.profile-font {
  font-weight: 2;
  padding-top:10px;
  padding-left: 0%;
}
.f-tag {
  border: #C7C8CA;
  box-shadow: 0 1px 3px #a7a9ac;
  background: white;
  height: 26px;
  border-radius: 7px;
  color: blue;
  padding: 3px 13px;
  margin: 10px 10px;
  font-size: x-small;

}
.resize4 {

  border-radius: 50%;
  height: 31px;
}
