a {
 text-decoration: none;
}
.post-event h5 ,.post-explore h5{
  color: black;
  font-weight: 2;
  margin-top: 21px;
}
.p-name {
  font-size: 20px;
}
.p-adress {
  font-size: 14px;
    color: #989696;
}
.ist-div {
  border: 1px solid lightgray;
  background: white;
  border-radius: 1%;
  padding: 17px;
}
.h-explore {
  color: black;
  font-weight: 2;
}
